/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/database/superv.sql
/public/installer/database.sql
Mitti Chulha.txt
.env.backup
finalenv.txt
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log